<% if @user.errors.any? %>
    <div class="alert alert-danger alert-dismissible fade show pt-2 pb-2 text-center">
        <% @user.errors.full_messages.each do |msg| %>
            <p><%= msg %></p>
        <% end %>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
<% end %>
<div class="container-fluid pt-5 pb-2" id='intro'>
    <div class="row justify-content-center align-content-center text-center">
        <div class="col-md-5">
            <h1>Admin Interface</h1>
            <p class="mt-4 mb-4"> Update user Informations </p>                        
        </div>
    </div>
</div>
<div class="container">
    <div class="row justify-content-center align-content-center">
        <div class= "col-lg-5 col-md-8 col-sm-12 col-xl-4">
            <div class="card p-3 mb-3 bg-white" >
                <div class="card-header pl-4 pb-0 text-center" style="border: none; background-color:white;">
                    <%= image_tag "myTask.png", height: 80, width: 80 %>         
                </div>
                <div class="card-body">
                    <%= form_with(model: @user, local: true, url: admin_user_path) do |form| %>
                        <div class="form-group">
                            <%= form.text_field :email, class: "form-control bg-light small", required: true, placeholder: "Email address" %>
                        </div>
                        <div class="form-group">
                            <%= form.text_field :name, class: "form-control bg-light", required: true, placeholder: "Name" %>
                        </div>
                        <div class="form-group">
                            <%= form.label :admin, "Rule"%>
                            <%= form.select :admin, options_for_select([["General User",0], ["Admin", 1]], selected: @user.admin)%>
                        </div>
                        <div class="row justify-content-center mb-3 mt-4">
                            <div class="col-md-12 text-center">
                                <%= form.submit "Save", class:"btn btn-primary font-weight-bold pl-5 pr-5" %>
                            </div>
                        </div>
                    <% end %>
                </div>  
            </div>
        </div> 
    </div>
</div>
<div class="d-block text-center">
    <p><%= link_to "Back", admin_users_path, class: "btn btn-primary text-white" %></p>
</div>
